{% extends "base.html" %}


{% block content %}
    <h2 class="text-center">Lista de Livros</h2>
    <hr>
    <br><br>
    <a href='{{url_for('adicionar_livro')}}' class='btn btn-secondary'>Adicionar</a>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            
        </thead>
        <tbody>
            {% for livro in livros%}
                <tr>
                    <th>{{ livro.id}}</th>
                    <th>{{ livro.nome }}</th>
                    <th>{{ livro.descricao }}</th>
                    <th>{{ livro.valor }}</th>
                    <th>
                        <a href='{{livro.id}}/atualizar_livro' class='btn btn-secondary bt-xs'>Editar</a>
                        <a href='{{livro.id}}/excluir_livro' class='btn btn-danger bt-xs' onclick="return  confirm('Deseja excluir o Livro?')">excluir</a>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
